*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Aboreto", sans-serif;
  background-color: #d0d0ff;
  color: #000;
}

nav{
  margin-right: 750px;
}

header {
  background-color: #1e1e1e;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

header h1 {
  color: #3a56e4;
  font-size: 2em;
  margin: 0;
  font-family: "Aboreto"
}

nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}

nav a:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 40px;
  gap: 40px;
}

.text-content {
  max-width: 600px;
  margin-left: 200px;
  margin-top: 220px;
}

.text-content h2 {
  color: #3a56e4;
  font-size: 1.8em;
  margin-bottom: 20px;
}

.text-content p {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 30px;
}

.social {
  margin-top: 20px;
}

.social a {
  margin-right: 20px;
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.social a i {
  margin-right: 5px;
}

.image-container {
  max-width: 400px;
  width: 100%;
  margin-right: 500px;
}

.image-container img {
  width: 40vh;
  height: auto;
}

footer {
  padding: 20px 40px;
  text-align: center;
  color: #555;
}
